TB/transcript
TB/vsim.wlf
TB/work/_info
TB/work/_lib.qdb
TB/work/_lib1_0.qdb
TB/work/_lib1_0.qpg
TB/work/_lib1_0.qtl
TB/work/_vmake
TB/qc_sim.cr.mti
OBJ/incremental_db/README
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.map.dpi.tmp
OBJ/incremental_db/compiled_partitions/top_qc_sim.db_info
OBJ/db/top_qc_sim.smart_action.txt
OBJ/db/top_qc_sim.sld_design_entry.sci
OBJ/db/top_qc_sim.rtlv_sg_swap.cdb
OBJ/db/top_qc_sim.rtlv_sg.cdb
OBJ/db/top_qc_sim.rtlv.hdb
OBJ/db/top_qc_sim.quiproj.18244.rdr.flock
OBJ/db/top_qc_sim.pre_map.hdb
OBJ/db/top_qc_sim.map.qmsg
OBJ/db/top_qc_sim.lpc.txt
OBJ/db/top_qc_sim.lpc.rdb
OBJ/db/top_qc_sim.lpc.html
OBJ/db/top_qc_sim.hif
OBJ/db/top_qc_sim.hier_info
OBJ/db/top_qc_sim.db_info
OBJ/db/top_qc_sim.cmp.rdb
OBJ/db/top_qc_sim.(9).cnf.hdb
OBJ/db/top_qc_sim.(9).cnf.cdb
OBJ/db/top_qc_sim.(8).cnf.hdb
OBJ/db/top_qc_sim.(8).cnf.cdb
OBJ/db/top_qc_sim.(7).cnf.hdb
OBJ/db/top_qc_sim.(7).cnf.cdb
OBJ/db/top_qc_sim.(6).cnf.hdb
OBJ/db/top_qc_sim.(6).cnf.cdb
OBJ/db/top_qc_sim.(5).cnf.hdb
OBJ/db/top_qc_sim.(5).cnf.cdb
OBJ/db/top_qc_sim.(4).cnf.hdb
OBJ/db/top_qc_sim.(4).cnf.cdb
OBJ/db/top_qc_sim.(3).cnf.hdb
OBJ/db/top_qc_sim.(3).cnf.cdb
OBJ/db/top_qc_sim.(2).cnf.hdb
OBJ/db/top_qc_sim.(2).cnf.cdb
OBJ/db/top_qc_sim.(14).cnf.hdb
OBJ/db/top_qc_sim.(14).cnf.cdb
OBJ/db/top_qc_sim.(13).cnf.hdb
OBJ/db/top_qc_sim.(13).cnf.cdb
OBJ/db/top_qc_sim.(12).cnf.hdb
OBJ/db/top_qc_sim.(12).cnf.cdb
OBJ/db/top_qc_sim.(11).cnf.hdb
OBJ/db/top_qc_sim.(11).cnf.cdb
OBJ/db/top_qc_sim.(10).cnf.hdb
OBJ/db/top_qc_sim.(10).cnf.cdb
OBJ/db/top_qc_sim.(1).cnf.hdb
OBJ/db/top_qc_sim.(1).cnf.cdb
OBJ/db/top_qc_sim.(0).cnf.hdb
OBJ/db/top_qc_sim.(0).cnf.cdb
OBJ/db/add_sub_4vg.tdf
OBJ/db/add_sub_9vg.tdf
OBJ/db/add_sub_fkg.tdf
OBJ/db/mult_dks.tdf
OBJ/db/mult_lgs.tdf
OBJ/db/mult_ngs.tdf
OBJ/db/mult_pgs.tdf
OBJ/db/mult_rgs.tdf
OBJ/db/top_qc_sim.(15).cnf.cdb
OBJ/db/top_qc_sim.(15).cnf.hdb
OBJ/db/top_qc_sim.(16).cnf.cdb
OBJ/db/top_qc_sim.(16).cnf.hdb
OBJ/db/top_qc_sim.(17).cnf.cdb
OBJ/db/top_qc_sim.(17).cnf.hdb
OBJ/db/top_qc_sim.(18).cnf.cdb
OBJ/db/top_qc_sim.(18).cnf.hdb
OBJ/db/top_qc_sim.(19).cnf.cdb
OBJ/db/top_qc_sim.(19).cnf.hdb
OBJ/db/top_qc_sim.(20).cnf.cdb
OBJ/db/top_qc_sim.(20).cnf.hdb
OBJ/db/top_qc_sim.(21).cnf.cdb
OBJ/db/top_qc_sim.(21).cnf.hdb
OBJ/db/top_qc_sim.(22).cnf.cdb
OBJ/db/top_qc_sim.(22).cnf.hdb
OBJ/db/top_qc_sim.(23).cnf.cdb
OBJ/db/top_qc_sim.(23).cnf.hdb
OBJ/db/top_qc_sim.(24).cnf.cdb
OBJ/db/top_qc_sim.(24).cnf.hdb
OBJ/db/top_qc_sim.(25).cnf.cdb
OBJ/db/top_qc_sim.(25).cnf.hdb
OBJ/db/top_qc_sim.(26).cnf.cdb
OBJ/db/top_qc_sim.(26).cnf.hdb
OBJ/db/top_qc_sim.(27).cnf.cdb
OBJ/db/top_qc_sim.(27).cnf.hdb
OBJ/db/top_qc_sim.(28).cnf.cdb
OBJ/db/top_qc_sim.(28).cnf.hdb
OBJ/db/top_qc_sim.(29).cnf.cdb
OBJ/db/top_qc_sim.(29).cnf.hdb
OBJ/db/top_qc_sim.(30).cnf.cdb
OBJ/db/top_qc_sim.(30).cnf.hdb
OBJ/db/top_qc_sim.(31).cnf.cdb
OBJ/db/top_qc_sim.(31).cnf.hdb
OBJ/db/top_qc_sim.(32).cnf.cdb
OBJ/db/top_qc_sim.(32).cnf.hdb
OBJ/db/top_qc_sim.(33).cnf.cdb
OBJ/db/top_qc_sim.(33).cnf.hdb
OBJ/db/top_qc_sim.(34).cnf.cdb
OBJ/db/top_qc_sim.(34).cnf.hdb
OBJ/db/top_qc_sim.(35).cnf.cdb
OBJ/db/top_qc_sim.(35).cnf.hdb
OBJ/db/top_qc_sim.(36).cnf.cdb
OBJ/db/top_qc_sim.(36).cnf.hdb
OBJ/db/top_qc_sim.(37).cnf.cdb
OBJ/db/top_qc_sim.(37).cnf.hdb
OBJ/db/top_qc_sim.(38).cnf.cdb
OBJ/db/top_qc_sim.(38).cnf.hdb
OBJ/db/top_qc_sim.(39).cnf.cdb
OBJ/db/top_qc_sim.(39).cnf.hdb
OBJ/db/top_qc_sim.(40).cnf.cdb
OBJ/db/top_qc_sim.(40).cnf.hdb
OBJ/db/top_qc_sim.(41).cnf.cdb
OBJ/db/top_qc_sim.(41).cnf.hdb
OBJ/db/top_qc_sim.(42).cnf.cdb
OBJ/db/top_qc_sim.(42).cnf.hdb
OBJ/db/top_qc_sim.(43).cnf.cdb
OBJ/db/top_qc_sim.(43).cnf.hdb
OBJ/db/top_qc_sim.(44).cnf.cdb
OBJ/db/top_qc_sim.(44).cnf.hdb
OBJ/db/top_qc_sim.(45).cnf.cdb
OBJ/db/top_qc_sim.(45).cnf.hdb
OBJ/db/top_qc_sim.(46).cnf.cdb
OBJ/db/top_qc_sim.(46).cnf.hdb
OBJ/db/top_qc_sim.(47).cnf.cdb
OBJ/db/top_qc_sim.(47).cnf.hdb
OBJ/db/top_qc_sim.(48).cnf.cdb
OBJ/db/top_qc_sim.(48).cnf.hdb
OBJ/db/top_qc_sim.(49).cnf.cdb
OBJ/db/top_qc_sim.(49).cnf.hdb
OBJ/db/top_qc_sim.(50).cnf.cdb
OBJ/db/top_qc_sim.(50).cnf.hdb
OBJ/db/top_qc_sim.(51).cnf.cdb
OBJ/db/top_qc_sim.(51).cnf.hdb
OBJ/db/top_qc_sim.(52).cnf.cdb
OBJ/db/top_qc_sim.(52).cnf.hdb
OBJ/db/top_qc_sim.(53).cnf.cdb
OBJ/db/top_qc_sim.(53).cnf.hdb
OBJ/db/top_qc_sim.(54).cnf.cdb
OBJ/db/top_qc_sim.(54).cnf.hdb
OBJ/db/top_qc_sim.(55).cnf.cdb
OBJ/db/top_qc_sim.(55).cnf.hdb
OBJ/db/top_qc_sim.(56).cnf.cdb
OBJ/db/top_qc_sim.(56).cnf.hdb
OBJ/db/top_qc_sim.(57).cnf.cdb
OBJ/db/top_qc_sim.(57).cnf.hdb
OBJ/db/top_qc_sim.(58).cnf.cdb
OBJ/db/top_qc_sim.(58).cnf.hdb
OBJ/db/top_qc_sim.(59).cnf.cdb
OBJ/db/top_qc_sim.(59).cnf.hdb
OBJ/db/top_qc_sim.(60).cnf.cdb
OBJ/db/top_qc_sim.(60).cnf.hdb
OBJ/db/top_qc_sim.(61).cnf.cdb
OBJ/db/top_qc_sim.(61).cnf.hdb
OBJ/db/top_qc_sim.(62).cnf.cdb
OBJ/db/top_qc_sim.(62).cnf.hdb
OBJ/db/top_qc_sim.(63).cnf.cdb
OBJ/db/top_qc_sim.(63).cnf.hdb
OBJ/db/top_qc_sim.(64).cnf.cdb
OBJ/db/top_qc_sim.(64).cnf.hdb
OBJ/db/top_qc_sim.(65).cnf.cdb
OBJ/db/top_qc_sim.(65).cnf.hdb
OBJ/db/top_qc_sim.(66).cnf.cdb
OBJ/db/top_qc_sim.(66).cnf.hdb
OBJ/db/top_qc_sim.(67).cnf.cdb
OBJ/db/top_qc_sim.(67).cnf.hdb
OBJ/db/top_qc_sim.(68).cnf.cdb
OBJ/db/top_qc_sim.(68).cnf.hdb
OBJ/db/top_qc_sim.(69).cnf.cdb
OBJ/db/top_qc_sim.(69).cnf.hdb
OBJ/db/top_qc_sim.(70).cnf.cdb
OBJ/db/top_qc_sim.(70).cnf.hdb
OBJ/db/top_qc_sim.(71).cnf.cdb
OBJ/db/top_qc_sim.(71).cnf.hdb
OBJ/db/top_qc_sim.(72).cnf.cdb
OBJ/db/top_qc_sim.(72).cnf.hdb
OBJ/db/top_qc_sim.(73).cnf.cdb
OBJ/db/top_qc_sim.(73).cnf.hdb
OBJ/db/top_qc_sim.(74).cnf.cdb
OBJ/db/top_qc_sim.(74).cnf.hdb
OBJ/db/top_qc_sim.(75).cnf.cdb
OBJ/db/top_qc_sim.(75).cnf.hdb
OBJ/db/top_qc_sim.map_bb.logdb
OBJ/db/top_qc_sim.sld_design_entry_dsc.sci
OBJ/db/.cmp.kpt
OBJ/db/top_qc_sim.asm.qmsg
OBJ/db/top_qc_sim.asm.rdb
OBJ/db/top_qc_sim.asm_labs.ddb
OBJ/db/top_qc_sim.cmp.bpm
OBJ/db/top_qc_sim.cmp.cdb
OBJ/db/top_qc_sim.cmp.hdb
OBJ/db/top_qc_sim.cmp.idb
OBJ/db/top_qc_sim.cmp.logdb
OBJ/db/top_qc_sim.cmp_merge.kpt
OBJ/db/top_qc_sim.fit.qmsg
OBJ/db/top_qc_sim.map.ammdb
OBJ/db/top_qc_sim.map.bpm
OBJ/db/top_qc_sim.map.cdb
OBJ/db/top_qc_sim.map.hdb
OBJ/db/top_qc_sim.map.kpt
OBJ/db/top_qc_sim.map.logdb
OBJ/db/top_qc_sim.map.rdb
OBJ/db/top_qc_sim.map_bb.cdb
OBJ/db/top_qc_sim.map_bb.hdb
OBJ/db/top_qc_sim.root_partition.map.reg_db.cdb
OBJ/db/top_qc_sim.routing.rdb
OBJ/db/top_qc_sim.sta.qmsg
OBJ/db/top_qc_sim.sta.rdb
OBJ/db/top_qc_sim.sta_cmp.7_slow_1200mv_85c.tdb
OBJ/db/top_qc_sim.tis_db_list.ddb
OBJ/db/top_qc_sim.tiscmp.fast_1200mv_0c.ddb
OBJ/db/top_qc_sim.tiscmp.fastest_slow_1200mv_0c.ddb
OBJ/db/top_qc_sim.tiscmp.fastest_slow_1200mv_85c.ddb
OBJ/db/top_qc_sim.tiscmp.slow_1200mv_0c.ddb
OBJ/db/top_qc_sim.tiscmp.slow_1200mv_85c.ddb
OBJ/db/top_qc_sim.tmw_info
OBJ/db/top_qc_sim.vpr.ammdb
OBJ/db/top_qc_sim.zippleback_io_sim_cache.ff_0c_fast.hsd
OBJ/db/top_qc_sim.zippleback_io_sim_cache.ii_0c_slow.hsd
OBJ/db/top_qc_sim.zippleback_io_sim_cache.ii_85c_slow.hsd
OBJ/db/top_qc_sim_partition_pins.json
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.cmp.ammdb
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.cmp.cdb
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.cmp.dfp
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.cmp.hdb
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.cmp.logdb
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.cmp.rcfdb
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.map.cdb
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.map.dpi
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.map.hbdb.cdb
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.map.hbdb.hb_info
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.map.hbdb.hdb
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.map.hbdb.sig
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.map.hdb
OBJ/incremental_db/compiled_partitions/top_qc_sim.root_partition.map.kpt
OBJ/incremental_db/compiled_partitions/top_qc_sim.rrp.hdb
OBJ/output_files/top_qc_sim.asm.rpt
OBJ/output_files/top_qc_sim.done
OBJ/output_files/top_qc_sim.fit.rpt
OBJ/output_files/top_qc_sim.fit.smsg
OBJ/output_files/top_qc_sim.fit.summary
OBJ/output_files/top_qc_sim.flow.rpt
OBJ/output_files/top_qc_sim.jdi
OBJ/output_files/top_qc_sim.map.rpt
OBJ/output_files/top_qc_sim.map.summary
OBJ/output_files/top_qc_sim.pin
OBJ/output_files/top_qc_sim.sld
OBJ/output_files/top_qc_sim.sta.rpt
OBJ/output_files/top_qc_sim.sta.summary
